/.idea
/node_modules/body-parser
/node_modules/ejs
/node_modules/express
/node_modules/mysql
/node_modules/angular
/node_modules/angular-mocks
/node_modules/angular-route
/node_modules/express-session
/node_modules/mongoose
/node_modules/bootstrap
/node_modules/.bin
/node_modules/async
/node_modules/jasmine-core
/node_modules/karma-chrome-launcher
/node_modules/karma-firefox-launcher
/node_modules/karma-jasmine
/node_modules/karma-junit-reporter
/node_modules/karma
/node_modules/protractor
/node_modules/multer
/server/attacments
