<section>
    <h3>Add new feedback</h3>
    <form role="form" class="ng-pristine ng-valid" ng-controller="FeedbackAddController as panel">
        <fieldset>
            <div class="form-group">
                <label>Candidate</label>
                <input type="text" class="form-control" name="candidate" placeholder="Candidate" readonly="" ng-model="candidateName">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Is private</label>
                <input type="checkbox" name="is_private" ng-model="data.is_private">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Resolution</label>
                <input type="text" class="form-control" name="resolution" ng-model="data.resolution">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Content</label>
                <textarea cols="100" rows="5" class="form-control" name="content" ng-model="data.content"></textarea>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Files</label>
                <input type="file" class="form-control" name="files[]" ng-model="data.files">
            </div>
        </fieldset>

        <input type="hidden" name="cid" ng-model="data.cid">
        <button class="btn btn-lg btn-default" ng-click="panel.onClickEdit()">Create</button>
        <a class="btn btn-lg btn-default" href="#/candidate/{{data.cid}}">Back</a>
    </form>

</section>