<div class="item content-wrapper ng-scope ng-fadeInUp" >
    <div class="row">
        <div class="col-md-12">
            <h3>Feedback</h3>
            <ul class="list-unstyled">
                <li>
                    {{data.resolution}}
                </li>
                <li>
                    {{data.content}}
                </li>
            </ul>
        </div>
    </div>
</div>