<div>
    <div>
        <label>FirstName</label>
        <span>{{data.first_name}}</span>
    </div>
    <div>
        <label>secondname</label>
        <span>{{data.second_name}}</span>
    </div>
    <div>
        <a class="btn btn-sm btn-default" href="#/candidate/{{data._id}}/edit">Edit</a>
        <a class="btn btn-sm btn-default" href="#/candidate/{{data._id}}/delete">Delete</a>
        <a class="btn btn-sm btn-default" href="#/candidates">Back</a>
    </div>
</div>