<section>
    <h3>Add new employee</h3>
    <form role="form" class="ng-pristine ng-valid" ng-controller="EmployeesAddController as panel">
        <fieldset>
            <div class="form-group">
                <select class="form-control" ng-model="panel.data.cid">
                    <option value=""> - Select candidate -</option>
                    <option value="1">Fedorovich</option>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Birthday</label>
                <input type="text" class="form-control" name="birthday" placeholder="Birthday" ng-model="panel.data.birthday">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="address" placeholder="Address" ng-model="panel.data.address">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Postal code</label>
                <input type="text" class="form-control" name="postal_code" placeholder="Postal code" ng-model="panel.data.postal_code">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Url linkedin</label>
                <input type="text" class="form-control" name="url_linkedin" placeholder="url..." ng-model="panel.data.url_linkedin">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Url social network</label>
                <input type="text" class="form-control" name="url_social_network" placeholder="url..." ng-model="panel.data.url_social_network">
            </div>
        </fieldset>
        <input type="hidden" name="cid" value="">
        <button class="btn btn-sm btn-default" ng-click="panel.onClickEdit()">Add</button>
    </form>

</section>