<div class="item content-wrapper ng-scope ng-fadeInUp">
    <h3>Employees <a href="#/employees/add">+</a></h3>
    <form action="" name="Employees">

        <div class="no-footer">
            <div>
                <label>Show
                    <select class="">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    entries
                </label>
            </div>
            <table class="table table-striped table-hover dataTable" datatable="" role="grid" >
                <thead>
                <tr role="row">
                    <th class="sorting_desc" tabindex="0" rowspan="1" colspan="1" >cid</th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" >Birthday</th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 50px;" >CV</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd | even"  ng-repeat="vacancy in data">
                    <td class="sorting_1"><a href="#/employee/{{vacancy._id}}">{{vacancy.cid}}</a></td>
                    <td>{{vacancy.birthday}}</td>
                    <td><a href="#/employee/{{vacancy._id}}/delete">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="bs-component">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
                <div class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
        </div>
    </form>
</div>