<div>
    <div>
        <label>Title</label>
        <span>{{data.title}}</span>
    </div>
    <div>
        <a class="btn btn-sm btn-default" href="#/vacancy/{{data._id}}/edit">Edit</a>
        <a class="btn btn-sm btn-default" href="#/vacancy/{{data._id}}/delete">Delete</a>
        <a class="btn btn-sm btn-default" href="#/employees">Back</a>
    </div>
</div>